* {
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    padding: 2%;
    outline: 1px solid black;
    border-radius: 10%;
}

.input {
    margin: 5%;
    width: 400px;
    height: 70px;
    border-radius: 10%;
    text-align: center;
}

.button {
    color: white;
    background-color: black;
    font-weight: 800;
    border-radius: 10%;
    width: 230px;
    height: 70px;
    }

.button:hover {
    color: black;
    background-color: white;
}

.taskList {
    list-style-type:square;
    font-size: 26px;
}

li {
    cursor: pointer;
    padding: 10%;
}

.checked {
    text-decoration: line-through;
    color: grey;
}